// BEM - block, element, modifier
// block - the core building block for a website. Look at this app in a browser
    // and you will see a bunch of blocks. Put the blocks together and you have a web app
// element - things that go inside of a specific block
    // - title block might have an author block
// modifier - change behavior of a block or element

// two rules of BEM - 1 always use classes
    // never going to use id or element selector (i.e., (#id, p)

// 2 - patern is as follows
    // .block-class-name two underscores element-name
    // .some-item__element-name - example of multi word use

    // modifier - patern = blockName--some-modifier
// {
    .single-block-item-style {
        background-color: white;
        border: 2px black solid;
        margin-top: .5rem;
        padding: 1.3rem;
      }
      
      .single-block-item-style__message {
        color: seagreen;
        font-size: 1.3rem;
        font-style: italic;
        font-weight: 300;
        text-align: center;
      }
      
