.title-bar {
    color: blue;
  }

// challenge

// using bem, create a moderator element to be used in titleBar.js
// set the font size to 11 px using rem and font-weight to 300
// apply the class to imports/ui/TitleBar.js <p>moderator:


// start with block name in BEM then __element
.title-bar__moderator {
  font-size: 1.1rem;
  font-weight: 300;
}