@use './base/_reset.scss';  // ./ indicates to start in current folder
@use './base/_global.scss'; 




@use './components/_button.scss';
@use './components/_candidate.scss';
@use './components/_footer.scss';
@use './components/_form.scss';
@use './components/_instructions.scss';
@use './components/_singleItem.scss';
@use './components/_titleBar.scss';  
@use './components/_wrapper.scss';

  // blockName--some-modifier
  .button--round {
    border-radius: 50%; // perfect circle
    height: 4rem;
    width: 4rem;
  }