* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  color: light-grey;
  background-color: lightgrey;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
}

li {
  margin-left: 2rem;
}

input, button, select {
  font-size: 1.5rem;
}

.button {
  color: green;
  background-color: lightblue;
  border: 1px solid grey;
  cursor: pointer;
  font-weight: 600;
  margin-right: 1.1rem;
  padding: 1.1rem;
  outline: none;
  transition: background 0.5s ease;
}
.button:hover, .button:focus {
  background: blue;
  color: grey;
}
.button:active {
  background: white;
  transition: transform 1s ease;
  transform: scale(1.3);
}

.button--round {
  border-radius: 50%;
  height: 4rem;
  width: 4rem;
}

.candidate {
  display: flex;
  justify-content: space-between;
}

.candidate__name {
  font-weight: 400;
  font-size: 2rem;
}

.candidate__votes {
  font-size: 1.6rem;
  font-style: italic;
  font-weight: 300;
  text-decoration: underline;
}

.candidate__actions {
  flex-shrink: 0;
}

.footer {
  color: white;
}

.footer-wrapper {
  margin: 0 auto;
  max-width: 50rem;
  padding: 1.3rem;
  background-color: blue;
}

.form {
  display: flex;
}

.form__input {
  border: 1px solid grey;
  padding: 1.3rem;
  flex-grow: 1;
}

.content {
  margin-left: 0.5rem;
  padding: 0.5rem;
}

ul, ol, li {
  margin-left: 2rem;
  margin-top: 0.5rem;
}

h1, h2, h3, p {
  margin-top: 0.5rem;
}

.single-block-item-style {
  background-color: white;
  border: 2px black solid;
  margin-top: 0.5rem;
  padding: 1.3rem;
}

.single-block-item-style__message {
  color: seagreen;
  font-size: 1.3rem;
  font-style: italic;
  font-weight: 300;
  text-align: center;
}

.title-bar {
  color: blue;
}

.title-bar__moderator {
  font-size: 1.1rem;
  font-weight: 300;
}

.wrapper {
  margin: 0 auto;
  max-width: 50rem;
  padding: 1.3rem;
  background-color: darkgrey;
}

.button--round {
  border-radius: 50%;
  height: 4rem;
  width: 4rem;
}
