body {
    color: light-grey;
    background-color: lightgrey;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.6rem;  // root em based off of font size of html
}

li {
    margin-left: 2rem;
}

input, button, select {
    font-size: 1.5rem;
}