$remSet: 62.5%;

* { // this is a reset of our margin and padding
  margin: 0;
  padding: 0;
}
html {
  font-size: $remSet; // 62.5% of default vaule which is 16
                    // .625 * 16 = 10px which is our base font size
}
body {
  color: light-grey;
  background-color: bisque;
  font-family: Helvetica, Arial, sans-serif;
}
h1 {
  font-weight: 300;
  font-size: 2.4rem;  // root em based off of font size of html
                      // base html is 10px * 2.4 is 24 px header
}
li {
  margin-left: 2rem;
}